.list {
    color: $white;

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 2rem;
        gap: 2rem;
        text-align: center;

        @include phone {
            grid-template-columns: repeat(1, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__li {
        border-radius: 5px;
        text-transform: capitalize;
        letter-spacing: 3px;
        transition: all .3s linear;
    }

    &__image {
        width: 11.25rem;
        height: 17.5rem;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
            transition: all .3s linear;
            opacity: .7;
            transform: translateY(-10px);
        }

        &:not(hover) {
            transition: all .3s linear;
        }
    }

    &__title {
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    &__img {
        width: 3rem;
    }

    &__content {
        padding: 2rem;

        p {
            font-size: 14px;
            color: $white-two;
            margin-top: .5rem;
        }

        h2 {
            margin-top: 1rem;
            font-size: 2rem;
        }
    }
}