@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$font: 'Roboto Condensed', sans-serif;
$white: #FFFFFF;
$white-two: #ffffff82;
$gray: #4447589C;
$black: #0D1117;
$black-two: #0d111779;
$blue: #0077F2;

@mixin phone {
    @media (min-width: 375px) and (max-width: 540px) { @content; }
}

@mixin tablet {
    @media (min-width: 541px) and (max-width: 1250px) { @content; }
}